
{% load static %}
{% load cart_tags %}


<link rel="stylesheet" href="{% static 'css/styleWidget.css' %}">


<div class="container">
    <table class="table table bordered mt-4">
        <thead class="carrito">
            <tr>
                <th  colspan='4' class="text-center jumbotron text-white mb-4 mt-4 bg-dark rounded">
                    <h3 class="display-5 text-white">Mi pedido</h3>
                </th>
            </tr>
            <tr class="text-center mt-4 ">
                <th class="text-white">Producto</th>
                <th class="text-white">Cantidad</th>
                <th class="text-white">Precio</th>
                <th class="text-white">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.cart.items %}
                {% for key,value in request.session.cart.items  %}
                        <tr class="">
                            <td class="text-left">{{value.name| upper }}</td>
                            <td class="text-center">{{value.quantity}}</td>
                            <td class="text-center">{{value.price}}</td>
                            <td class="text-center">
                                <a id="suma" href="{% url 'add_product' value.product_id %}" class="btn btn-success">+</a>
                                <a id="resta" href="{% url 'decrement_product' value.product_id %}" class="btn btn-danger">-</a>
                            </td>
                        </tr>

                        {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                            No tienes productos en el carrito
                        </div>
                        {% endif %}
                        
                        <tfoot>
                            <tr>
                                <td class="text-center text-success" colspan='4'>
                                    <strong>
                                        <div name='total' style='background:#0B2A42;' class="text-white rounded h3 p-4">
                                            Total : {{ importe_total|money_format:'$' }}<br>
                                            
                                        </div>
                                    </strong>
                                </td>
                            </tr>
                        </tfoot>
            <a href="{% url 'Pedido' %}" class="btn btn-small button-menu mt-4">Crear pedido</a>

        </tbody>
    </table> 
</div>