:root{
    --fColor:#7c984b;
    --logo:#F67F13;
    --sColor:#212529;
}





.button-menu{
    border-color: var(--logo);
}

.btn-login:hover{
    background:var(--logo) ;

}


.logo{
    width: 70px;
    height: auto;
}

.dropdown-item:hover {
    background:var(--logo) ;
}

.img-landing{
    clip-path: polygon(44% 0, 100% 0, 100% 50%, 55% 100%, 0 100%, 0% 50%);

}


