:root{
    --fColor:#7c984b;
    --logo:#F67F13;
    --sColor:#212529;
}


.img-detail-product{
    width: 300px;
    height: auto;
}

.title-product{
    color: var(--logo);
    font-weight: bold;
}
