:root{
    --fColor:#7c984b;
    --sColor:#212529;
    --tColor:#0F2E11;
    --logo:#F67F13;
}




.logoForms{
    width: 120px;
    height: 120px;
}

.button-menu{
    background: var(--tColor);
    color: #fff;    
}

.button-menu:hover{
    background: var(--logo);
    color: #fff;
    border: var(--logo);
}