:root{
    --fColor:#7c984b;
    --logo:#F67F13;
    --sColor:#212529;

}

.button-menu{
    background: var(--sColor);
    color: #fff;
}

.button-menu:hover{
    background: var(--logo);
    color: #fff;
    border: var(--logo);
}


.img-top{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hot-dogs{
    background: #000;
}


.card-title{
    color: var(--logo);
    font-weight: bold;
    font-size: 40px;
}

.img-product{
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
    transition: 1s;
}

.img-product:hover{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
    transition: 1s;
    cursor: pointer;
}

hr{
    color: var(--logo);
}


/* mobile */

@media screen and (max-width: 700px) {
    .img-product{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);

    }
    .card-title{
        text-align: center;
    }


    .img-top{
        width: 100%;
        height: 300px;
        object-fit: cover; 
    }
}