*{
    font-family:'sans-serif';
    }

    :root{
        --colorOfc:#062543;
    }

    .info{
        display:block;
        background:var(--colorOfc);
        color: #fff;
        border-radius:3px;
        text-align: center;
        box-shadow: 3px 3px 3px #555;
        padding: 2px;
        font-size: 34px;
        padding: 2rem;
    }

    .border{
        border:1px solid rgb(97, 93, 93);
        width:100%;
    }

    th{
        background:var(--colorOfc);
        color: #fff;
        border: 1px solid  rgb(97, 93, 93) ;
    }

    td{
        border: 1px solid  rgb(97, 93, 93) ;
    
    }


    .liD{
        list-style-type: none;
    } 

    .datosC{
        border: 1px solid rgb(97, 93, 93);
        margin-top:1rem;
    }
        