{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'detailProduct.css' %}">


<div class="container">
  <h1 class="display-1 text-center mt-4 title-product ">{{object.name}}</h1>

  <div class="row mt-4">
    <div class="col-md-6">
      <img src="{{object.image.url}}" class="card-img-top img-detail-product rounded" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body border">
        <h5 class="card-title">{{object.name}}</h5>
        <p class="card-text">{{object.descriptions}}.</p>
        <h1 class="display-6 text-center mt-4 title-product ">Ingredientes</h1>
        <div class="card-text  align-items-center border">
          
          <div class="">
            {% for i in object.ingredient.all %}
            <ul class="ul">
              <li class="li">{{i.name}}</li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <a href="{% url 'add_product' object.id %}" class="btn btn-small button-menu mt-4">Agregar al carrito</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="mt-4">
    {% include "cart/theCart.html" %}

  </div>
</div>

{% endblock %}