{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/manu.css' %}">

{% for h in object_list  %}
<div class="container">
    <hr class="mt-4 mb-4">
    <h1 class="display-1 text-center mt-4 title-product ">{{h.name}}</h1>
    
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="{% url 'ProductDetail' h.id %}"><img src="{{h.image.url}}" class="card-img-top img-detail-product rounded" alt="..."></a>
        <a href="{% url 'ProductDetail' h.id %}" class="btn btn-small button-menu mt-4 mb-4">Ver</a>
      </div>
      <div class="col-md-6">
        <div class="card-body border">
          <h5 class="card-title">{{h.name}}</h5>
          <p class="card-text">{{h.descriptions}}.</p>
          <h1 class="display-6 text-center mt-4 title-product ">Ingredientes</h1>
          <div class="card-text  align-items-center border">
            
            <div class="">
              {% for i in h.ingredient.all %}
              <ul class="ul">
                <li class="li">{{i.name}}</li>
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endfor %}








{% endblock %}