{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">


<div class="container">
  <form method='POST'>
    {% csrf_token %}
    <section class="vh-100 gradient-custom mb-4">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                
                <div class="mb-md-5 mt-md-4 pb-5">
                  
                  <img class="logoForms" src="{% static  'img/logoHaro.png' %}" alt="">
                  <p class="text-white-50 mb-5">Cambiar contraseña</p>
                  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">{{form|crispy}}</label>
                  </div>
                  
                  
                  
                  <button type="submit" class="btn btn-outline-light btn-lg px-5 btn-login">Cambiar contraseña</button>
                  
                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </form>
    </div>
    
    
    {% endblock %}