<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark"">
        <div class="container-fluid">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logoHaro.png' %}" alt=""></a>
            <a class="navbar-brand ml-4" href="{% url 'index' %}">Haro Burger</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listCart' %}">Mis pedidos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-white" href="{% url 'ProductList' %}">Hamburgesas</a></li>
                  <li><a class="dropdown-item text-white" href="{% url 'ProductList' %}">Perros Calientes</a></li>
                  <!-- <li><hr class="dropdown-divider text-white"></li> -->
                  <li><a class="dropdown-item text-white" href="{% url 'ProductList' %}">Pepitos</a></li>
                </ul>
              </li>


              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  {% if user.is_authenticated %}
                    @{{ user.username }}
                  {% else %}
                  Iniciar sesion
                  {% endif %}
                </a>
                
                {% if user.is_authenticated %}
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item text-white" href="">Mi Perfil</a></li>
                <li><a class="dropdown-item text-white" href="{% url 'changePassword' %}">Cambiar contraseña</a></li>
                <li><a class="dropdown-item text-white" href="{% url 'logout' %}">Cerrar Sesion</a></li>
              </ul>
                
                {% else %}
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-white" href="{% url 'login' %}">Iniciar Sesion</a></li>
                  <li><a class="dropdown-item text-white" href="{% url 'register' %}">Registrarme</a></li>
                  <!-- <li><hr class="dropdown-divider text-white"></li> -->
                </ul>
                {% endif %}

              </li>

              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- /navbar -->


    {% block content %}

    {% endblock %}
    <!-- footer -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>