{% extends "base.html" %}
{% load static %}

{% block title %}Haro Burger{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- landing page -->
    <div class="container-fluid bg-black ">
        <div class="row d-flex justify-content-center align-items-center landing">
            <div class="col-md-6 info-actions">
                <div class="text-white  mt-4 mb-4 ">
                    <div class="info">
                        <p class="display-1 text-center d-flex justify-content-center align-items-center">Haro Burgers</p>
                    </div>
                    <div class="buttom d-flex justify-content-center align-items-center">
                        <a class="btn button-menu text-white " href="">Hacer mi pedido</a>
                    </div>
                </div>                
            </div>
            
            <div class="col-md-6 mt-4 mb-4">
                <img class="img-fluid img-landing" src="https://menu.bevri.com/uploads/b/25f4d989e3ad5034b1905234dbd90b79ef899f7e4b50b4f4f6f13ffc55498724/bevri_website_supra_1608850826.jpg?width=800" alt="">
            </div>  
        </div>
    </div>
    <!-- /landing page -->

    
    <!-- separator -->
    <div class="rounded container-hr d-flex justify-content-center align-items-center">
        <hr>
        <p class="display-3 m-4 text-center title-color">Hamburguesas</p>
        <hr>
    </div>
    <!-- /separator -->
    

    
    <!-- menu -->
    <div class="card-group">
        {% for h in hamburger %}
          
            <div class="card m-2">
                <img src="{{h.image.url}}" class="img-top img-product rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{h.name}}</h5>
                    <p class="card-text">{{h.descriptions}}</p>
                    <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                    <a href="{% url 'ProductDetail' h.id %}" class="btn button-menu">La quiero</a>
                </div>
            </div>
        
        {% endfor %}
      </div>

    <!-- /menu -->
    
    
    <!-- separator -->
    <div class="rounded container-hr d-flex justify-content-center align-items-center">
        <hr>
        <p class="display-3 m-4 text-center title-color">Perros Calientes</p>
        <hr>
    </div>
    <!-- /separator -->
    
    
    <!-- menu -->
        <div class="card-group">
            {% for p in hotdogs %}
            
                <div class="card m-2">
                    <img src="{{p.image.url}}" class="img-top img-product rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.descriptions}}</p>
                        <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                        <a href="{% url 'ProductDetail' p.id %}" class="btn button-menu">La quiero</a>

                    </div>
                </div>
            
            {% endfor %}
        </div>


          <!-- separator -->
    <div class="rounded container-hr d-flex justify-content-center align-items-center">
        <hr>
        <p class="display-3 m-4 text-center title-color">Pipitos</p>
        <hr>
    </div>
    <!-- /separator -->
    
    
    <!-- menu -->
    <div class="card-group">
        {% for r in pepitos %}
          
            <div class="card m-2">
                <img src="{{r.image.url}}" class="img-top img-product rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{r.name}}</h5>
                    <p class="card-text">{{r.descriptions}}</p>
                    <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                    <a href="{% url 'ProductDetail' r.id %}" class="btn button-menu">La quiero</a>
                </div>
            </div>
        
        {% endfor %}
      </div>

</div>

    <!-- /menu -->
    















{% endblock %}
